<p>articles works!</p>
<! use *ngFor to display articles >
​
<div class="articlesDescriptions">
  <ul>
    <li><a href="https://phinvads.cdc.gov/vads/ViewCodeSystemConcept.action?oid=2.16.840.1.113883.6.96&code=65546002" target="_blank">
      Wisdom Teeth Extraction
    </a> </li>
    <ul>
      <li>Code System Concept Code	65546002</li>
      <li>Code System Concept Name	Extraction of wisdom tooth (procedure)</li>
      <li>Code System Preferred Concept Name	Extraction of wisdom tooth (procedure)</li>
    </ul>
    <li><a href="https://phinvads.cdc.gov/vads/ViewCodeSystemConcept.action?oid=2.16.840.1.113883.6.96&code=75016008" target="_blank">
      Biopsy of Mouth
    </a></li>
    <ul>
      <li>Code System Concept Code	75016008</li>
      <li>Code System Concept Name	Biopsy of soft tissue (procedure)</li>
      <li>Code System Preferred Concept Name	Biopsy of soft tissue (procedure)</li>
    </ul>
    <li><a href="https://phinvads.cdc.gov/vads/ViewCodeSystemConcept.action?oid=2.16.840.1.113883.6.96&code=265703000" target="_blank">
      Jaw Bone Grafts
    </a></li>
    <ul>
      <li>Code System Concept Code	265703000</li>
      <li>Code System Concept Name	Jaw and temporomandibular joint operations (procedure)</li>
      <li>Code System Preferred Concept Name	Jaw and temporomandibular joint operations (procedure)</li>
    </ul>
    <li><a href="https://phinvadsstg.cdc.gov/vads/ViewCodeSystemConcept.action?oid=2.16.840.1.113883.6.96&code=66660002" target="_blank">
      Teeth Implants
    </a></li>
    <ul>
      <li>Code System Concept Code	66660002</li>
      <li>Code System Concept Name	Tooth implantation (procedure)</li>
      <li>Code System Preferred Concept Name	Tooth implantation (procedure)</li>
    </ul>
    <br>
    <hr>
    <li><a href="https://phinvads.cdc.gov/vads/ViewCodeSystemConcept.action?oid=2.16.840.1.113883.6.96&code=118691003" target="_blank">
      Sinus Lift
    </a></li>
    <ul>
      <li>Code System Concept Code	118691003</li>
      <li>Code System Concept Name	Procedure on face (procedure)</li>
      <li>Code System Preferred Concept Name	Procedure on face (procedure)</li>
    </ul>
    <li><a href="https://phinvads.cdc.gov/vads/ViewCodeSystemConcept.action?oid=2.16.840.1.113883.6.96&code=264274002" target="_blank">
      Sinus Lift - Endoscopic Operation Procedure
    </a>
    </li>
    <ul>
      <li>Code System Concept Code	264274002</li>
      <li>Code System Concept Name	Endoscopic operation (procedure)</li>
      <li>Code System Preferred Concept Name	Endoscopic operation (procedure)</li>
    </ul>

  </ul>
</div>
​
<div class="additionalDetails">
  <p><b>Images</b></p>
  <hr>
  <img src="https://img.pngio.com/-dental-png-981_799.png" alt="Dental Connection" width="100px" height = "100px">
</div>
