<p>articles works!</p>
<! use *ngFor to display articles >
​
<div class="articlesDescriptions">
  <ul>
    <li><a href="https://phinvads.cdc.gov/vads/ViewCodeSystemConcept.action?oid=2.16.840.1.113883.6.96&code=65546002" target="_blank">
      Wisdom Teeth Extraction Snomed
    </a> </li>
    <li><a href="https://phinvads.cdc.gov/vads/ViewCodeSystemConcept.action?oid=2.16.840.1.113883.6.96&code=75016008" target="_blank">
      Biopsy of Mouth: Snomed
    </a></li>
    <li><a href="https://bioportal.bioontology.org/ontologies/SNOMEDCT?p=classes&conceptid=178494000" target="_blank">
      Jaw Bone Grafts
    </a></li>
    <li><a href="https://phinvadsstg.cdc.gov/vads/ViewCodeSystemConcept.action?oid=2.16.840.1.113883.6.96&code=66660002" target="_blank">
      Teeth Implants
    </a></li>
    <li><a href="https://phinvads.cdc.gov/vads/ViewCodeSystemConcept.action?oid=2.16.840.1.113883.6.96&code=118691003" target="_blank">
      Sinus Lift
    </a></li>
  </ul>
</div>
​
<div class="additionalDetails">
  <p>This part comes next</p>
</div>
