

<div class="column splashcolumn">
<p>Splash Screen here</p>
</div>
<div class="column logincolumn">
  <p>Login stuff here</p>
  <p>Patient ID: <input autocomplete="off" type="text" name="id" [(ngModel)]="patientLoginStub.id"></p>
  <p>Last Name: <input autocomplete="off" type="text" name="lastname" [(ngModel)]="patientLoginStub.lastName"></p>
  <button (click)="onClickLogin()">Login</button>
  <p>Your last name is {{patientLoginStub.lastName}}</p>
  <p *ngIf="loginError">Login information incorrect. Last Name or Birthday does not match Patient ID.</p>
</div>
