<div class="container">
  <div class="column splashcolumn">
    <p>Splash Screen here</p>
    <p> This test is just text to test CSS for the portal header</p>
  </div>
  <div class="column logincolumn">
    <p>Login stuff here</p>
    <p>
      <label for="id">Patient ID:</label>
      <input autocomplete="off" type="text" id="id" [(ngModel)]="patientLoginStub.id">
    </p>
    <p>
      <label for="lastname">Last Name:</label>
      <input autocomplete="off" type="text" id="lastname" [(ngModel)]="patientLoginStub.lastName">
    </p>
    <p>
      <label for="birthdate">Birth Date:</label>
      <input autocomplete="off" type="text" id="birthdate" [(ngModel)]="patientLoginStub.birthDate"
             placeholder="yyyy-mm-dd">
    </p>

    <button (click)="onClickLogin()">Login</button>

    <p *ngIf="loginError">Login information incorrect. Last Name or Birthday does not match Patient ID.</p>
    <p *ngIf="loginSuccess">Login Successful!</p>
  </div>
</div>
