<div class="column splashcolumn">
  <p>Splash Screen here</p>
  <p> This test is just text to test CSS for the portal header</p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Cras semper auctor neque vitae. Eget egestas purus viverra accumsan. Pulvinar elementum integer enim neque.
    Pellentesque nec nam aliquam sem et tortor consequat. Feugiat vivamus at augue eget arcu dictum varius duis at.
    Egestas pretium aenean pharetra magna ac placerat vestibulum lectus. Hendrerit gravida rutrum quisque non tellus
    orci ac auctor. Iaculis nunc sed augue lacus viverra vitae congue. Eget mi proin sed libero enim. Quis hendrerit
    dolor magna eget est lorem ipsum dolor. Fringilla urna porttitor rhoncus dolor purus non.
    Imperdiet dui accumsan sit amet nulla. Cursus mattis molestie a iaculis at. Velit sed ullamcorper morbi tincidunt
    ornare. Dolor morbi non arcu risus quis varius quam quisque id. Sed tempus urna et pharetra pharetra massa massa.
    Proin fermentum leo vel orci porta non. Id consectetur purus ut faucibus. Commodo sed egestas egestas fringilla
    phasellus faucibus scelerisque. A pellentesque sit amet porttitor eget dolor morbi. Quis ipsum suspendisse ultrices
    gravida dictum. Facilisis volutpat est velit egestas dui id ornare. Nam libero justo laoreet sit.
    Eget magna fermentum iaculis eu. At auctor urna nunc id cursus metus aliquam eleifend. Posuere ac ut consequat
    semper viverra nam libero. Pellentesque diam volutpat commodo sed egestas. In mollis nunc sed id semper risus. At
    lectus urna duis convallis convallis tellus. Ut faucibus pulvinar elementum integer enim neque. Egestas egestas
    fringilla phasellus faucibus. A pellentesque sit amet porttitor eget. Integer quis auctor elit sed vulputate mi sit
    amet. Mi proin sed libero enim sed faucibus turpis. Eget nulla facilisi etiam dignissim diam quis enim lobortis.
    Habitant morbi tristique senectus et netus et malesuada fames. Fringilla ut morbi tincidunt augue interdum velit
    euismod in. Pharetra pharetra massa massa ultricies mi quis hendrerit. Egestas erat imperdiet sed euismod nisi porta
    lorem. Nisl condimentum id venenatis a condimentum vitae sapien.
    Quis blandit turpis cursus in hac habitasse. Vel turpis nunc eget lorem dolor sed. Arcu cursus euismod quis viverra
    nibh. Gravida neque convallis a cras. Lacus luctus accumsan tortor posuere ac. Ac orci phasellus egestas tellus
    rutrum tellus pellentesque eu. Morbi enim nunc faucibus a pellentesque sit amet porttitor. Congue nisi vitae
    suscipit tellus mauris a diam maecenas sed. Integer enim neque volutpat ac tincidunt vitae semper quis. Velit
    euismod in pellentesque massa placerat duis. Risus viverra adipiscing at in tellus. Commodo viverra maecenas
    accumsan lacus vel facilisis volutpat est.
    Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor. Orci ac auctor augue mauris augue. Fringilla
    urna porttitor rhoncus dolor purus. Et tortor consequat id porta nibh venenatis cras. Massa placerat duis ultricies
    lacus sed turpis tincidunt id. Fames ac turpis egestas sed tempus urna. Habitant morbi tristique senectus et netus
    et malesuada fames ac. Purus semper eget duis at tellus at urna condimentum. Id cursus metus aliquam eleifend mi.
    Ipsum dolor sit amet consectetur adipiscing elit. Vulputate dignissim suspendisse in est ante. Urna cursus eget nunc
    scelerisque viverra. Lectus magna fringilla urna porttitor rhoncus dolor purus non. Tortor aliquam nulla facilisi
    cras. Tristique senectus et netus et malesuada fames ac turpis egestas. Vulputate mi sit amet mauris commodo quis.
    Malesuada bibendum arcu vitae elementum. Nunc sed velit dignissim sodales ut.
    Pharetra massa massa ultricies mi. Ac felis donec et odio pellentesque. Enim ut sem viverra aliquet eget sit amet
    tellus. Tempor nec feugiat nisl pretium. Erat nam at lectus urna duis convallis convallis tellus id. Suspendisse
    interdum consectetur libero id faucibus nisl tincidunt eget nullam. Velit egestas dui id ornare arcu odio ut. Vitae
    auctor eu augue ut. Vulputate ut pharetra sit amet. Consectetur adipiscing elit duis tristique sollicitudin nibh sit
    amet. Facilisis gravida neque convallis a cras semper. Mauris pharetra et ultrices neque ornare. In tellus integer
    feugiat scelerisque varius morbi. Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare.
    Sit amet massa vitae tortor condimentum lacinia. Auctor elit sed vulputate mi sit amet mauris commodo. Posuere ac ut
    consequat semper viverra nam libero justo. Fusce ut placerat orci nulla pellentesque. Sodales ut eu sem integer
    vitae. Sagittis orci a scelerisque purus semper. Amet massa vitae tortor condimentum lacinia quis vel eros donec.
    Urna molestie at elementum eu facilisis sed odio morbi. Gravida quis blandit turpis cursus in hac habitasse platea
    dictumst. Sed risus pretium quam vulputate dignissim suspendisse in. Turpis egestas sed tempus urna et pharetra
    pharetra massa massa. Urna et pharetra pharetra massa massa ultricies mi. Turpis egestas pretium aenean pharetra
    magna ac placerat. Nunc pulvinar sapien et ligula ullamcorper. Viverra ipsum nunc aliquet bibendum enim facilisis
    gravida neque. Amet nisl suscipit adipiscing bibendum. Arcu non sodales neque sodales ut etiam. Aliquam sem
    fringilla ut morbi tincidunt augue interdum velit.
    Urna molestie at elementum eu facilisis. Porttitor leo a diam sollicitudin tempor. Ultricies tristique nulla aliquet
    enim tortor. Eu nisl nunc mi ipsum faucibus vitae aliquet nec. Adipiscing diam donec adipiscing tristique risus nec
    feugiat in. Mauris in aliquam sem fringilla. Amet mauris commodo quis imperdiet massa tincidunt nunc. Pellentesque
    adipiscing commodo elit at imperdiet. Mauris augue neque gravida in fermentum et. Sed adipiscing diam donec
    adipiscing tristique. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Viverra vitae
    congue eu consequat. Phasellus vestibulum lorem sed risus. Pellentesque id nibh tortor id aliquet lectus proin nibh.
    Donec ultrices tincidunt arcu non sodales neque. Egestas sed tempus urna et pharetra pharetra. Tortor at risus
    viverra adipiscing at in tellus. Amet tellus cras adipiscing enim eu turpis. Tempor orci dapibus ultrices in iaculis
    nunc. Adipiscing elit pellentesque habitant morbi tristique senectus et. Ridiculus mus mauris vitae ultricies leo
    integer malesuada. Nunc scelerisque viverra mauris in. Mattis enim ut tellus elementum sagittis vitae. Enim tortor
    at auctor urna nunc id cursus metus. Non pulvinar neque laoreet suspendisse interdum consectetur libero.
    Sit amet luctus venenatis lectus magna fringilla urna. Ac felis donec et odio. Aliquet nec ullamcorper sit amet
    risus nullam. Sed augue lacus viverra vitae. Enim praesent elementum facilisis leo vel fringilla. Sed vulputate odio
    ut enim blandit. In vitae turpis massa sed elementum tempus egestas. Commodo odio aenean sed adipiscing diam donec
    adipiscing tristique. Eget velit aliquet sagittis id. Neque aliquam vestibulum morbi blandit cursus risus at. Felis
    imperdiet proin fermentum leo vel orci porta non. Quis eleifend quam adipiscing vitae proin. Massa eget egestas
    purus viverra accumsan in. In aliquam sem fringilla ut morbi tincidunt augue interdum. Blandit aliquam etiam erat
    velit scelerisque. Felis donec et odio pellentesque diam.
    Auctor elit sed vulputate mi sit amet. Vel fringilla est ullamcorper eget nulla. Neque sodales ut etiam sit amet
    nisl purus in. Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor. Dictum at tempor commodo
    ullamcorper a. Vestibulum sed arcu non odio. Vestibulum lectus mauris ultrices eros in cursus turpis massa
    tincidunt. Suspendisse in est ante in nibh mauris cursus. Sed blandit libero volutpat sed cras ornare arcu dui
    vivamus. Amet mattis vulputate enim nulla aliquet. Consequat ac felis donec et odio pellentesque diam. Suscipit
    tellus mauris a diam maecenas sed enim ut. Nec nam aliquam sem et tortor consequat id porta nibh. Vel orci porta non
    pulvinar neque laoreet suspendisse. Adipiscing commodo elit at imperdiet dui accumsan sit. Rhoncus mattis rhoncus
    urna neque viverra justo nec ultrices dui. Sollicitudin tempor id eu nisl nunc mi ipsum faucibus vitae. Nunc id
    cursus metus aliquam eleifend mi in nulla.
    Elementum eu facilisis sed odio morbi quis. Sagittis orci a scelerisque purus semper eget duis at tellus. Dictum non
    consectetur a erat nam at lectus. Lacus vel facilisis volutpat est velit egestas dui id. Est velit egestas dui id
    ornare arcu odio ut sem. Eu facilisis sed odio morbi quis commodo odio aenean sed. Libero id faucibus nisl
    tincidunt. Metus dictum at tempor commodo. Libero nunc consequat interdum varius. Sollicitudin tempor id eu nisl.
    Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque. Fames ac turpis egestas integer eget aliquet.
    Sit amet luctus venenatis lectus magna fringilla urna. Ac felis donec et odio. Aliquet nec ullamcorper sit amet
    risus nullam. Sed augue lacus viverra vitae. Enim praesent elementum facilisis leo vel fringilla. Sed vulputate odio
    ut enim blandit. In vitae turpis massa sed elementum tempus egestas. Commodo odio aenean sed adipiscing diam donec
    adipiscing tristique. Eget velit aliquet sagittis id. Neque aliquam vestibulum morbi blandit cursus risus at. Felis
    imperdiet proin fermentum leo vel orci porta non. Quis eleifend quam adipiscing vitae proin. Massa eget egestas
    purus viverra accumsan in. In aliquam sem fringilla ut morbi tincidunt augue interdum. Blandit aliquam etiam erat
    velit scelerisque. Felis donec et odio pellentesque diam.
    Auctor elit sed vulputate mi sit amet. Vel fringilla est ullamcorper eget nulla. Neque sodales ut etiam sit amet
    nisl purus in. Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor. Dictum at tempor commodo
    ullamcorper a. Vestibulum sed arcu non odio. Vestibulum lectus mauris ultrices eros in cursus turpis massa
    tincidunt. Suspendisse in est ante in nibh mauris cursus. Sed blandit libero volutpat sed cras ornare arcu dui
    vivamus. Amet mattis vulputate enim nulla aliquet. Consequat ac felis donec et odio pellentesque diam. Suscipit
    tellus mauris a diam maecenas sed enim ut. Nec nam aliquam sem et tortor consequat id porta nibh. Vel orci porta non
    pulvinar neque laoreet suspendisse. Adipiscing commodo elit at imperdiet dui accumsan sit. Rhoncus mattis rhoncus
    urna neque viverra justo nec ultrices dui. Sollicitudin tempor id eu nisl nunc mi ipsum faucibus vitae. Nunc id
    cursus metus aliquam eleifend mi in nulla.
  </p>
</div>
<div class="column logincolumn">
  <p>Login stuff here</p>
  <p>
    <label for="id">Patient ID:</label>
    <input autocomplete="off" type="text" id="id" [(ngModel)]="patientLoginStub.id" value="2607775">
  </p>
  <p>
    <label for="lastname">Last Name:</label>
    <input autocomplete="off" type="text" id="lastname" [(ngModel)]="patientLoginStub.lastName">
  </p>
  <p>
    <label for="birthdate">Birth Date:</label>
    <input autocomplete="off" type="text" id="birthdate" [(ngModel)]="patientLoginStub.birthDate"
                        placeholder="yyyy-mm-dd">
  </p>

  <button (click)="onClickLogin()">Login</button>

  <! For testing>
  <p>Your last name is {{patientLoginStub.lastName}}</p>
  <p> Your bday is {{patientLoginStub.birthDate}}</p>

  <p *ngIf="loginError">Login information incorrect. Last Name or Birthday does not match Patient ID.</p>
  <p *ngIf="loginSuccess">Login Successful!</p>

  <! Navigation Testing>
  <p><button [routerLink]="['../procedures']">Procedures Component</button></p>
  <p><button [routerLink]="['../articles']">Articles Component</button></p>
</div>
