


html, body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

.header {
  position:   absolute;
  top: 0px;
  height: 50px;
  width: 100%;
  background-color: lightsteelblue;
  text-align: right;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}
.header p {
  text-align: right;
  vertical-align: middle;
  margin: auto;
}
.footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  padding: auto;
  width: 100%;
  background-color: lightsteelblue;
  text-align: center;
  vertical-align: middle;
}

.body {
  position: absolute;
  top:    50px;
  bottom: 50px;
  width:  100%;
  background: #0f0;
}

.content {
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
