<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="header">
<p *ngIf="loggedin">Logged in as: {{patientNameDisplayString}} - {{patientIdDisplayString}}</p>

</div>
<div class="body">
  <router-outlet></router-outlet>
</div>

<div class="footer">Copyright/legal information - Photo by Linus Nylund on <a href="http://www.unsplash.com">Unsplash</a></div>

<script>
    window.onscroll = function () {
        myFunction()
    };

    var portalHeader = document.getElementById("portalheader");
    var sticky = portalHeader.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            portalHeader.classList.add("sticky")
        } else {
            portalHeader.classList.remove("sticky");
        }
    }
</script>
</body>
</html>
